@font-face {
    font-family: 'josefin-sans';
    src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('fonts/lobster_1.3-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
header {
	text-align: center;
	background-color: #EF2917;
	font-size: 50px;
	font-family: 'Lobster', sans-serif;
	text-decoration: 
}
h1 {
	background-color: #266DD3;
	font-family: 'josefin-sans', sans-serif;
}
   
h2 {
	background-color: #81E979;
	font-family: 'josefin-sans', sans-serif; 
}
a {
	background-color: #fff;
	font-size: 20px;
	position: relative; left: 6px;
}
p {
	line-height: -100px;
}
.photo {
	position: relative; top: 0px; 
	position: relative; left: -9px;
}
.resume {
	position: relative; top: 500px;
}
.picture {
	position: relative; left: -120px;
}
.tiger {
	position: relative; right: -90px;
}
.twitter {
	position: relative; top: 20px;
	position: relative; left: 150px;
}
.end {
	position: relative; left: 297px;
	position: relative; bottom: -20px;
}
.chick {
	position: relative; right: -133px;
}
.col-md-1 {
	position: relative; top: -40px;
	position: relative; left: 145px;
	text-decoration: underline;
}
